<div class="cards">
  <% @messages.each do |message| %>
    <div class="col-xs-12 col-sm-4 col-lg-3">
      <% photo_url = message.photo? ? message.photo : "whdtqnkq1t2tbx1lv7rj" %>
      <div class="card" style="background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url(<%= cl_image_path photo_url %>">
        <div class="card-body">
          <h4><%= message.name.upcase %></h4>
          <p><%= message.message %></p>
          <%= link_to "", message_path(message), class: "card-link" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
