<div class="flex">
  <div class="half" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path 'form.jpg' %>)">
  </div>
  <div class="half form-flex">
    <div class="form">
      <h1>ADD NEW MESSAGE</h1>
      <%= render "form", message: @message %>
    </div>
  </div>
</div>

<%= content_for(:title, "Send Some Love to Shirley and Alan") %>
