// Specific CSS for your home-page

.docScroller {
  overflow-x: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  scroll-snap-points-y: repeat(100%);
  scroll-snap-type: mandatory;
  scroll-snap-destination: 100% 0%;
}

.page {
  float: left;
  height: 100vh;
  width: 100vw;
}

.flex {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.half {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  height: 100vh;
  width: 50vw;
}

.hover-content {
  opacity: 0;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
}

.half:hover .hover-content {
  background: white;
  transition: 0.5s;
  opacity: 0.8;

  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  .title {
    text-align: center;
  }
}

.content {
  background: rgb(234,234,234);
  opacity: 0.3;
  padding: 20px;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;

  .title {
    text-align: center;
  }
}

.cover {
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  width: 100vw;
}

.bottom {
  width: 100vw;
  height: 40vh;
  text-align: center;
}

table {
  .time {
    padding-left: 10px;
    min-width: 90px;
  }

  .event {
    min-width: 175px;
  }
}

.anchor {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

@media (max-width: 600px) {
  .flex {
    flex-direction: column;
  }

  .half {
    width: 100vw !important;
    height: 100vh !important;
  }
}
