// Specific CSS for your home-page

.docScroller {
  overflow-x: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  scroll-snap-points-y: repeat(100%);
  scroll-snap-type: mandatory;
  scroll-snap-destination: 100% 0%;
}

.page {
  float: left;
  width: 100vw;
  height: 100vh;
}

.page-flex {
  display: flex;
  vertical-align: top;
  height: 100vh;
}

.content {
  background: rgb(234,234,234);
  opacity: 0.3;
  padding: 20px;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;

  .title {
    text-align: center;
  }
}

.cover {
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  width: 100vw;
}

.bottom {
  width: 100vw;
  height: 40vh;
  text-align: center;
}

table {
  .time {
    padding-left: 10px;
    min-width: 90px;
  }

  .event {
    min-width: 175px;
  }
}

.half {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  height: 100vh;
  width: 50vw;
}

.anchor {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
