.cards {
  display: flex;
  flex-wrap: wrap;

  .col-xs-12, .col-sm-6, .col-lg-3 {
    padding: 0px !important;
  }

  .card {
    position: relative;
    height: 200px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    &:hover {
      opacity: 0.8;
      transition: 0.4s ease-in-out;

      & .card-body {
        height: 180px;
      }
    }
  }

  .card-body {
    padding: 0px 15px;
    color: white;
    position: absolute;
    bottom: 0;
    height: 55px;
    width: 100%;
    overflow: hidden;
    transition: height 0.4s ease-in-out;

    p {
      font-weight: lighter;
      font-size: 14px;
    }
  }

  .card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 2;
  }
}
