.form {
  width: 85%;
  margin: auto;
  color: #999999;

  h1 {
    font-size: 35px;
    letter-spacing: 2px;
    text-align: center;
    margin: 25px 0px;
  }
}

.form-flex {
  display: flex;
  align-items: center;

  .form-control {
    font-size: 14px;
    padding: 10px;
    background: transparent;
    border: solid 1px #B3ACA7;
  }

  .col-xs-6 {
    padding: 2px;
  }

  .btn {
    color: #999999;
    margin-bottom: 5px;

    &:hover {
      color: white;
      background: #B3ACA7;
      transition: 0.5s;
    }
  }

  .optional {
    font-size: 14px;
  }
}
