.photo-wrapper {
  height: 100vh;
  width: 100vw;
  background: $gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo {
  height: 90vh;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  height: 100vh;

  a {
    text-decoration: none;
    color: $light-gray;
    font-size: 24px;

    :hover {
      color: $dark-gray;
    }
  }
}
