<div class="footer">
  <div class="footer-left">
    <a href="http://www.instgram.com/shirsies"><i class="fa fa instagram" aria-hidden="true"></i></a>
  </div>
  <div class="footer-middle">
    Best viewed on Mozilla Firefox
  </div>
  <div class="footer-right">
    Made with Love by <a href="www.linkedin.com/in/wcyjoyce">Joyce Wong</a>
  </div>
</div>
