<div class="footer">
  <div class="footer-left">
    <a href="https://www.instagram.com/explore/tags/alovesoshir/"><i class="fa fa instagram" aria-hidden="true"></i></a>
  </div>
  <div class="footer-middle">
    Best viewed on Mozilla Firefox
  </div>
  <div class="footer-right">
    Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="www.linkedin.com/in/wcyjoyce">Joyce Wong</a>
  </div>
</div>
