<div class="hover-content">
  <div class="text">
    <div class="title">
      <h3>STORY</h3>
    </div>
    <div class="paragraph">
      <p>This is how Shirley and Loki met.</p>
    </div>
  </div>
</div>
