<div class="hover-content">
  <div class="text">
    <div class="title">
      <h3>STORY</h3>
    </div>
    <div class="paragraph-story">
      <p>Shirley's an otorhinolaryngologist (ear nose throat), Alan's a urologist (piss and penises) – so it's a fairytale kind of love story, where they met at the hospital. In less than two years, they've completed numerous joint hospital surgical grand rounds, dealt with even more of Shirley's tantrums, and travelled extensively around the world (i.e. going to Japan three times). And so it seemed most fitting that, in the summer of 2016 just before one of their trips to Japan, Alan got on one knee and proposed to the love of his life.</p>
    </div>
  </div>
</div>
