<div class="hover-content">
  <div class="text">
    <div class="title">
      <h3>STORY</h3>
    </div>
    <div class="paragraph">
      <p>It's a fairytale kind of love story, where Shirley and Alan met in the most romantic of romantic places – in the hospital.</p>
    </div>
  </div>
</div>
