<div class="docScroller hidden-xs hidden-sm">
  <%= render "content" %>
</div>
<div class="hidden-md hidden-lg">
  <%= render "content" %>
</div>

<%= content_for(:title, "alovesoshir | Shirley & Alan - 23 December 2017") %>
